[submodule "nvim/onedark"]
	path = nvim/colours/onedark
	url = https://github.com/navarasu/onedark.nvim
[submodule "nvim/plugins/gitsigns"]
	path = nvim/plugins/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/plugins/hop.nvim"]
	path = nvim/plugins/hop
	url = https://github.com/smoka7/hop.nvim
[submodule "nvim/plugins/vim-tidal"]
	path = nvim/plugins/vim-tidal
	url = https://github.com/tidalcycles/vim-tidal
[submodule "nvim/plugins/zig.vim"]
	path = nvim/plugins/zig.vim
	url = https://codeberg.org/ziglang/zig.vim
